
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" >
        <div class="container d-flex">
          <a class="navbar-brand" href="#"><img src="Assets/sampleLogo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav gap-2">
              <a class="nav-link text-primary fw-bold active" aria-current="page" href="home">Home</a>
              <a class="nav-link" href="booking">Booking</a>
              <a class="nav-link" href="signIn">Contact</a>
              <a class="nav-link" href="#aboutUs">About Us</a>
              <% if(!currentUser) {%>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Login
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="signIn">Login as a user</a></li>
                    <li><a class="dropdown-item" href="staffLogin">Login as a staff</a></li>
                  </ul>
                </div>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    SignUp
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="signUp">SignUp as a user</a></li>
                    <li><a class="dropdown-item" href="staffRegister">SignUp as a staff</a></li>
                  </ul>
                </div>
                <% }else if(currentUser) {%>
                  <h3><div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <%= currentUser.username %>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                  </div></h3>
                  <% } %>         
            </div>
          </div>
        </div>
      </nav>
    <div class="progress m-auto container p-0" role="progressbar" aria-label="Example 20px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 20px">
        <div class="progress-bar" style="width: 75%"></div>
    </div>
    <div class="visaCash d-flex justify-content-center m-auto">
        <div class="m-auto d-flex flex-column bg-primary p-5 rounded-2" id="paymentDetails">
            <div class="d-flex justify-content-center">
                <div class="form-check p-1">
                    <input type="radio" id="option1" name="options" value="option1">
                    <img class="image1" src="Assets/cash-removebg-preview.png" alt="">
                </div>
                <div class="form-check">
                    <input type="radio" id="option1" name="options" value="option1" checked>
                    <img class="image2" src="Assets/visa-removebg-preview.png" alt="">
                </div>
            </div>
            <div class=" d-flex flex-column gap-5 align-items-center">
                <div class="paymentDetails gap-4 justify-content-center d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <p class="form-label fw-semibold">Card Number</p>
                        <input type="text" class="form-control w-50" id="serviceP1" placeholder="1234-1234-1234-1234" >
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="form-label fw-semibold">CVV</p>
                        <input type="text" class="form-control w-25" id="extra1" placeholder="123">
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="form-label fw-semibold">MM/DD</p>
                        <input type="text" class="form-control w-50" id="total1" placeholder="MM/DD">
                    </div>
                    <div class="gap-0">
                        <p class="fw-semibold">Cardholder's Name</p>
                        <input type="text" class="form-control w-100" id="total1" >
                    </div>
                </div>
                <div class="d-flex gap-5">
                    <a class="bg-black text-decoration-none px-2 rounded-2" href="summary" id="btn1">Previous</a>
                    <a class="bg-black text-decoration-none px-2 rounded-2" href="confirm" id="btn1">Confirm</a>
                </div>
            </div> 
        </div>
    </div>
    <div class="about-us container d-flex ">
      <div class="bg-primary m-auto py-4 px-5 mb-0">
        <p id="aboutUs" class="text-light">About Us</p>
        <p id="aboutUsP" class="text-black">At our online car wash, we're dedicated to revolutionizing the way you care for your vehicle. With a passion for pristine cars and a commitment to convenience, we bring the ultimate car washing experience to your fingertips. Our platform offers a seamless, user-friendly interface where you can effortlessly schedule a top-tier car wash from the comfort of your home. We understand the value of time and the desire for a sparkling clean vehicle, which is why we've designed our service to be efficient, reliable, and tailored to meet your needs. Trust us to deliver a superior car wash experience, leaving your vehicle shining and you with more time to enjoy the ride.</p>
        <div class=" m-auto justify-content-between d-flex gap-5">
          <a class="rounded-button   " href="policy" id="btn1">Privacy and policy </a>
          <a class="rounded-button " href="terms" id="btn1"> Terms and conditions</a>
        </div>
      </div>
    </div>

    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ratingModalLabel">Contact Information</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Rating content goes here -->
            <p>00962778134480</p>
            <p>washme@gmail.com</p>
          </div>
        </div>
      </div>
    </div>

    <script>
    const ratingLink = document.querySelector('a[href="signIn"]');
    // Add an event listener to handle click on the "Rating" link
    ratingLink.addEventListener('click', function(event) {
     // Prevent the default link behavior
    event.preventDefault();
    // Show the modal when the link is clicked
    const contactModal = new bootstrap.Modal(document.getElementById('contactModal'));
    contactModal.show();
    });
    </script>

    <script>
    const paymentOptions = document.querySelectorAll('input[name="options"]');
    
    // Select the section to be shown/hidden
    const paymentDetails = document.querySelector('.paymentDetails');
    paymentOptions[0].addEventListener("change", () => {
    paymentDetails.style.setProperty("display", "none", "important");
  })
  paymentOptions[1].addEventListener("change", ()=> {
    paymentDetails.style.setProperty("display", "flex", "important");
  })
</script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>