<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" >
        <div class="container d-flex">
          <a class="navbar-brand" href="#"><img src="assets/sampleLogo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link text-primary fw-bold active" aria-current="page" href="home">Home</a>
              <a class="nav-link" href="#serviceTable">Pricing</a>
              <a class="nav-link" href="#serviceParagraph">Services</a>
              <a class="nav-link" href="booking">Booking</a>
              <a class="nav-link" href="#">Contact</a>
              <a class="nav-link" href="signIn">Login</a>
              <a class="nav-link" href="signUp">Register</a>
              <a class="nav-link" href="#aboutUs">About Us</a>
            </div>
          </div>
        </div>
      </nav>
   
        <div class="services contaier d-flex" id="serviceParagraph">
          <div class="services d-flex flex-column gap-3 m-auto">
            <div>
                 <h2 class="text-primary mb-5 mt-4 ">Terms  and Conitions</h2>
                 
            </div>
            <div>
                <h1> Service Description:</h1>
                <p>We provide professional car wash services, including exterior and interior cleaning, detailing, and additional services as specified in our service packages</p>
            </div>
             <div>
                <h1>Pricing and Payments:</h1>
                <p>Prices for our services are listed on our website and are subject to change. Payments can be made through [Visa ,Cash]. All prices are inclusive of applicable taxes.</p>
            </div>
            <div>
                <h1>Ordering Process:</h1>
                <p> Customers can place orders through our website by following the specified steps. Orders are confirmed upon successful payment.</p>
            </div>
            <div>
                <h1> Service Area:</h1>
                <p> Our home service is available in [list of service areas]. We reserve the right to update or modify these service areas at our discretion.</p>
            </div>
            <div>
                <h1>Cancellation and Refund Policy:</h1>
                <p> Orders can be canceled [before one hour at least]. Refunds may be issued in accordance with our refund policy, outlined on our website.</p>
            </div>
            <div>
                <h1> Customer Responsibilities:</h1>
                <p>- Customers are responsible for providing accurate information about their vehicles and ensuring accessibility for our service team.</p>
            </div>
            <div>
                <h1> Liability and Disclaimers:</h1>
                <p> While we take utmost care, we are not liable for any damage to vehicles during the service process. Customers are advised to remove personal belongings from their vehicles before service.</p>
            </div>
            <div>
                <h1> Privacy Policy:</h1>
                <p> Please refer to our privacy policy for information on how we collect, use, and protect customer data.</p>
            </div>
            <div>
                <h1>Intellectual Property:</h1>
                <p>All content on our website, including text, images, and trademarks, is the property of [Wash Me company].</p>
            </div>
            <div>
                <h1>User Accounts:</h1>
                <p> Users are responsible for maintaining the security of their accounts and must not engage in any activities that violate our terms.</p>
            </div>
            <div>
                <h1>Notifications and Communication</h1>
                <p> Customers may receive notifications related to their orders and services. Communication may occur via email, phone, or through the website.</p>
            </div>
            <div>
                <h1> Changes to Terms:</h1>
                <p>We reserve the right to update or modify these terms and conditions. Changes will be communicated to customers through [email,number].</p>
            </div>

          </div>
        </div>
    
      </div>
    <script src="js/script.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
